@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400italic);
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation change,
*    without disabling user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove default margin.
*/
body {
  margin: 0; }

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none; }

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold; }

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
* Address styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0; }

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0; }

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default; }

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal; }

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold; }

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers:
*/
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
_variables.scss
========================================================================== */
.fluid-width-video-wrapper {
  float: left; }

img.full-width {
  height: auto;
  width: 100%; }

.image-full-width a {
  outline-width: 0; }

.image-full-width img {
  height: auto;
  width: 100%; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  color: #58585a;
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial';
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative; }

a,
a:hover,
a:active,
a:visited {
  color: #58585a; }

.background {
  background-color: #7096A9;
  background-image: url(../images/BG%20Blank.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 0; }

.page-wrapper {
  min-height: 100%;
  position: relative;
  z-index: 1; }

.main-wrapper {
  position: relative;
  padding-top: 48px; }
  @media (min-width: 1025px) {
    .main-wrapper {
      margin-bottom: auto;
      padding-top: 0;
      margin-top: 50px; } }

/* ==========================================================================
_nav.scss - Navigation
========================================================================== */
nav.menu-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }
  nav.menu-main ul {
    background: #5C8297;
    border-left: 2px solid #5C8297;
    border-top: 1px solid #2C4F6B;
    display: none;
    margin: 0;
    list-style: none;
    padding: 5px 0; }
    nav.menu-main ul li {
      border-left: 4px solid transparent; }
      nav.menu-main ul li.active {
        border-left-color: #ddd;
        border-left-color: #2C4F6B; }
      nav.menu-main ul li a {
        color: #ddd;
        display: block;
        padding: 3px 11px;
        padding-left: 10px;
        text-decoration: none; }
  @media (min-width: 1025px) {
    nav.menu-main {
      margin: 0 auto;
      top: 25px;
      position: relative;
      width: 960px; }
      nav.menu-main ul {
        background: transparent;
        border: 0;
        display: block;
        float: none;
        text-align: center; }
        nav.menu-main ul li {
          display: inline-block;
          border: 0px solid transparent;
          border-bottom-width: 3px;
          float: none;
          font-weight: 700;
          letter-spacing: 0.1em;
          margin-left: 12px;
          margin-right: -0.1em;
          max-width: 135px;
          text-transform: uppercase; }
          nav.menu-main ul li:hover, nav.menu-main ul li.active {
            border-bottom-color: #5C8297; }
          nav.menu-main ul li a {
            color: #2C4F6B;
            padding: 3px 7px; }
      nav.menu-main .menu-701 {
        border-width: 0;
        margin-left: 48px;
        margin-right: 36px;
        position: relative;
        top: -9px; }
        nav.menu-main .menu-701 a {
          background: #5C8297;
          border-radius: 4px;
          border: 2px solid #2c4f6b;
          color: #ddd;
          padding: 9px 21px; } }

.nav-title-bar {
  background: #5C8297;
  color: #ddd;
  padding: 8px 14px; }
  .nav-title-bar .nav-button {
    color: #2C4F6B;
    float: right; }
  .nav-title-bar span {
    padding: 1px; }
  @media (min-width: 1025px) {
    .nav-title-bar {
      display: none; } }

nav.menu-mission-proposition, nav.menu-40-days-of-prayer {
  margin-top: 16px;
  position: absolute;
  text-align: center;
  width: 100%; }
  nav.menu-mission-proposition ul, nav.menu-40-days-of-prayer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav.menu-mission-proposition ul li, nav.menu-40-days-of-prayer ul li {
      background: #2C4F6B;
      border: 2px solid #2C4F6B;
      border-radius: 4px;
      color: #eee;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0.1rem;
      margin-bottom: 16px;
      margin-left: 6px;
      margin-right: 6px;
      padding: 4px 13px;
      text-transform: uppercase; }
      nav.menu-mission-proposition ul li:hover, nav.menu-mission-proposition ul li[data-state="active"], nav.menu-40-days-of-prayer ul li:hover, nav.menu-40-days-of-prayer ul li[data-state="active"] {
        background: #5C8297; }

/* ==========================================================================
_header.scss
========================================================================== */
.main-header {
  margin: 10px auto;
  max-width: 960px;
  position: relative;
  text-align: center;
  width: 95%; }
  body.not-front .main-header {
    margin-top: 0; }

.orchard-logo {
  background-image: url(../images/orchard-logo-w300.png);
  background-size: 300px 56px;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  margin: 6px 0;
  width: 300px; }
  body.not-front .orchard-logo {
    background-size: 200px 37px;
    height: 37px;
    width: 200px; }
    @media (min-width: 400px) and (max-width: 599px) {
      body.not-front .orchard-logo {
        background-size: 250px 47px;
        height: 47px;
        width: 250px; } }
    @media (min-width: 600px) {
      body.not-front .orchard-logo {
        background-image: url(../images/orchard-logo-w400.png);
        background-size: 400px 75px;
        height: 75px;
        width: 400px; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .orchard-logo {
      background-image: url(../images/orchard-logo-w400.png);
      background-size: 400px 75px;
      height: 75px;
      width: 400px; } }
  @media (min-width: 960px) {
    .orchard-logo {
      background-image: url(../images/orchard-logo-w450.png);
      background-size: 450px 84px;
      height: 84px;
      width: 450px; } }

.legacy-logo {
  background-image: url(../images/legacy-logo-w150.png);
  display: inline-block;
  vertical-align: middle;
  margin: 6px 10px;
  height: 150px;
  width: 150px; }
  body.not-front .legacy-logo {
    background-size: 75px 75px;
    height: 75px;
    width: 75px; }
    @media (min-width: 600px) {
      body.not-front .legacy-logo {
        background-size: 125px 125px;
        height: 125px;
        margin-left: 20px;
        width: 125px; } }
  @media (min-width: 960px) and (max-width: 1024px) {
    .legacy-logo {
      background-image: url(../images/legacy-logo-w200.png);
      background-size: 200px 200px;
      height: 200px;
      width: 200px; } }
  @media (min-width: 1025px) {
    .legacy-logo {
      background-image: url(../images/legacy-logo-w300.png);
      background-size: 300px 300px;
      height: 300px;
      width: 300px; } }

body.not-front .line-break-one {
  display: none; }

@media (min-width: 400px) {
  .line-break-two {
    display: none; } }

.legacy-text {
  display: inline-block;
  font-family: 'Arial narrow', 'Roboto Condensed', 'Arial';
  font-style: italic;
  margin: 6px 10px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle; }
  body.not-front .legacy-text {
    display: none; }
  .legacy-text .line1 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 1px;
    margin-left: 20px; }
    @media (min-width: 960px) and (max-width: 1024px) {
      .legacy-text .line1 {
        font-size: 1.3rem;
        line-height: 1.1rem; } }
    @media (min-width: 1025px) {
      .legacy-text .line1 {
        font-size: 1.9rem;
        line-height: 1.5rem;
        margin-bottom: 3px; } }
  .legacy-text .line2 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 7px; }
    @media (min-width: 960px) and (max-width: 1024px) {
      .legacy-text .line2 {
        font-size: 1.3rem;
        line-height: 1.1rem; } }
    @media (min-width: 1025px) {
      .legacy-text .line2 {
        font-size: 1.9rem;
        line-height: 1.5rem;
        margin-bottom: 11px; } }
  .legacy-text .line3 {
    font-size: 1.5rem;
    line-height: 1.2rem;
    margin-bottom: 3px; }
    @media (min-width: 960px) and (max-width: 1024px) {
      .legacy-text .line3 {
        font-size: 1.7rem;
        line-height: 1.4rem; } }
    @media (min-width: 1025px) {
      .legacy-text .line3 {
        font-size: 2.5rem;
        line-height: 2rem;
        margin-bottom: 5px; } }
  .legacy-text .line4 {
    font-size: 1.6rem;
    line-height: 1.3rem;
    margin-left: 65px; }
    @media (min-width: 960px) and (max-width: 1024px) {
      .legacy-text .line4 {
        font-size: 1.9rem;
        line-height: 1.5rem; } }
    @media (min-width: 1025px) {
      .legacy-text .line4 {
        font-size: 2.9rem;
        line-height: 2.2rem;
        margin-left: 93px; } }

.main-content {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 95%; }
  @media (min-width: 960px) {
    .main-content {
      visibility: hidden; } }
  @media (min-width: 1025px) {
    .main-content {
      padding-top: 0; } }

.content-item-gutter {
  width: 2%; }

.content-item-sizer {
  width: 49%; }

.content-item {
  background: rgba(255, 255, 255, 0.39);
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(226, 226, 226, 0.29);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.5);
  float: left;
  margin-bottom: 3%;
  width: 100%;
  padding: 15px; }
  .content-item ul {
    overflow: hidden;
    padding-left: 20px; }
  .content-item > * {
    margin-bottom: 1rem;
    margin-top: 0; }
  .content-item :last-child {
    margin-bottom: 0; }
  @media (min-width: 960px) and (max-width: 1024px) {
    .content-item {
      margin-bottom: 2%;
      width: 49%; }
      .content-item.full {
        width: 100%; } }
  @media (min-width: 1025px) {
    .content-item {
      margin-bottom: 2%;
      width: 49%; }
      .content-item.full {
        width: 100%; } }

.content-item-date {
  border-right: 2px solid #5C8297;
  color: #5C8297;
  float: left;
  margin: 9px 9px 4px 0;
  padding: 4px 9px 4px 0;
  text-align: center; }
  .nodate .content-item-date {
    display: none; }

.content-item-date-day {
  font-size: 2.55rem;
  font-weight: 300;
  line-height: 2.35rem; }

.content-item-date-moyr {
  font-size: 0.85rem;
  line-height: 0.85rem; }

.content-item-title, .faq-question {
  font-size: 1.25rem;
  font-style: italic; }

@media (min-width: 960px) {
  .timeslot {
    margin-right: 15px;
    width: 228.75px; }
    .timeslot:last-child {
      margin-right: 0; } }

.content-item-image img {
  display: block;
  height: auto;
  width: 100%; }

.footer-wrapper {
  background: #2C4F6B;
  bottom: 0;
  -webkit-box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  position: relative;
  width: 100%;
  z-index: 1; }

.footer-content {
  margin: 0 auto;
  max-width: 960px;
  width: 95%; }

.footer-item {
  color: #ddd;
  float: left;
  font-weight: 300;
  padding: 10px;
  width: 100%; }
  .footer-item .icon {
    bottom: 0px;
    color: #aaa;
    margin: 0px 2px;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .footer-item .icon:hover {
      bottom: 3px;
      color: #ddd;
      margin-bottom: 3px; }
  .footer-item a {
    color: #ddd; }
  .footer-item p {
    margin-bottom: 0; }
  @media (min-width: 600px) and (max-width: 959px) {
    .footer-item {
      width: 50%; } }
  @media (min-width: 960px) {
    .footer-item {
      width: 25%; } }

.footer-item-full {
  height: auto;
  line-height: 1.9rem;
  width: 100%; }
  .footer-item-full p {
    margin: 0; }
  .footer-item-full .footer-item-title {
    display: none; }

.footer-item-title {
  border: 0px solid #999;
  border-bottom-width: 2px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 3px; }

.icon-1-9x {
  font-size: 1.9rem !important; }

/*# sourceMappingURL=style.css.map */