/* ==========================================================================
_header.scss
========================================================================== */

.main-header {
  margin: 10px auto;
  max-width: 960px;
  position: relative;
  text-align: center;
  width: 95%;
  body.not-front & {
    margin-top: 0;
  }
}

.orchard-logo {
  background-image: url(../images/orchard-logo-w300.png);
  background-size: 300px 56px;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  margin: 6px 0;
  width: 300px;
  body.not-front & {
    background-size: 200px 37px;
    height: 37px;
    width: 200px;
    @include mobile400 {
      background-size: 250px 47px;
      height: 47px;
      width: 250px;
    }
    @include mobile600Plus {
      background-image: url(../images/orchard-logo-w400.png);
      background-size: 400px 75px;
      height: 75px;
      width: 400px;
    }
  }
  @include mobile600 {
    background-image: url(../images/orchard-logo-w400.png);
    background-size: 400px 75px;
    height: 75px;
    width: 400px;
  }
  @include tabletPlus {
    background-image: url(../images/orchard-logo-w450.png);
    background-size: 450px 84px;
    height: 84px;
    width: 450px;
  }
}

.legacy-logo {
  background-image: url(../images/legacy-logo-w150.png);
  display: inline-block;
  vertical-align: middle;
  margin: 6px 10px;
  height: 150px;
  width: 150px;
  body.not-front & {
    background-size: 75px 75px;
    height: 75px;
    width: 75px;
    @include mobile600Plus {
      background-size: 125px 125px;
      height: 125px;
      margin-left: 20px;
      width: 125px;
    }
  }
  @include tablet {
    background-image: url(../images/legacy-logo-w200.png);
    background-size: 200px 200px;
    height: 200px;
    width: 200px;
  }
  @include desktop {
    background-image: url(../images/legacy-logo-w300.png);
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
}

.line-break-one {
  body.not-front & {
    display: none;
  }
}

.line-break-two {
  @include mobile400Plus {
    display: none;
  }
}

.legacy-text {
  display: inline-block;
  font-family: 'Arial narrow', 'Roboto Condensed', 'Arial';
  font-style: italic;
  margin: 6px 10px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  body.not-front & {
    display: none;
  }
  .line1 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 1px;
    margin-left: 20px;
    @include tablet {
      font-size: 1.3rem;
      line-height: 1.1rem;
    }
    @include desktop {
      font-size: 1.9rem;
      line-height: 1.5rem;
      margin-bottom: 3px;
    }
  }
  .line2 {
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 7px;
    @include tablet {
      font-size: 1.3rem;
      line-height: 1.1rem;
    }
    @include desktop {
      font-size: 1.9rem;
      line-height: 1.5rem;
      margin-bottom: 11px;
    }
  }
  .line3 {
    font-size: 1.5rem;
    line-height: 1.2rem;
    margin-bottom: 3px;
    @include tablet {
      font-size: 1.7rem;
      line-height: 1.4rem;
    }
    @include desktop {
      font-size: 2.5rem;
      line-height: 2rem;
      margin-bottom: 5px;
    }
  }
  .line4 {
    font-size: 1.6rem;
    line-height: 1.3rem;
    margin-left: 65px;
    @include tablet {
      font-size: 1.9rem;
      line-height: 1.5rem;
    }
    @include desktop {
      font-size: 2.9rem;
      line-height: 2.2rem;
      margin-left: 93px;
    }
  }
}
