$mobile400-width: 400px !default;
$mobile600-width: 600px !default;
$tablet-width: 960px !default;
$desktop-width: 1025px !default;

@mixin mobile400 {
  @media (min-width: #{$mobile400-width}) and (max-width: #{$mobile600-width - 1px}) {
    @content;
  }
}

@mixin mobile600 {
  @media (min-width: #{$mobile600-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile400Plus {
  @media (min-width: #{$mobile400-width}) {
    @content;
  }
}

@mixin mobile600Plus {
  @media (min-width: #{$mobile600-width}) {
    @content;
  }
}

@mixin tabletPlus {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
