/* ==========================================================================
_nav.scss - Navigation
========================================================================== */

nav.menu-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  ul {
    background: #5C8297;
    border-left: 2px solid #5C8297;
    border-top: 1px solid #2C4F6B;
    display: none;
    //float: right;
    margin: 0;
    list-style: none;
    padding: 5px 0;
    li {
      border-left: 4px solid transparent;
      &.active {
        border-left-color: #ddd;
        border-left-color: $darkBlue;
      }
      a {
        color: #ddd;
        display: block;
        padding: 3px 11px;
        padding-left: 10px;
        text-decoration: none;
      }
    }
  }
  @include desktop {
    margin: 0 auto;
    top: 25px;
    position: relative;
    width: $siteMaxWidth;
    ul {
      background: transparent;
      border: 0;
      display: block;
      float: none;
      text-align: center;
      li {
        display: inline-block;
        border: 0px solid transparent;
        border-bottom-width: 3px;
        float: none;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-left: 12px;
        margin-right: -0.1em;
        max-width: 135px;
        text-transform: uppercase;
        &:hover, &.active {
          border-bottom-color: $lightBlue;
        }
        a {
          color: $darkBlue;
          padding: 3px 7px;
        }
      }
    }
    .menu-701 {
      border-width: 0;
      margin-left: 48px;
      margin-right: 36px;
      position: relative;
      top: -9px;
      a {
        background: #5C8297;
        border-radius: 4px;
        border: 2px solid rgb(44, 79, 107);
        color: #ddd;
        padding: 9px 21px;
      }
    }
  }
}

.nav-title-bar {
  background: $lightBlue;
  color: #ddd;
  padding: 8px 14px;
  .nav-button {
    color: $darkBlue;
    float: right;
  }
  span {
    padding: 1px;
  }
  @include desktop {
    display: none;
  }
}

nav.menu-mission-proposition, nav.menu-40-days-of-prayer {
  margin-top: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: $darkBlue;
      border: 2px solid $darkBlue;
      border-radius: 4px;
      color: #eee;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0.1rem;
      margin-bottom: 16px;
      margin-left: 6px;
      margin-right: 6px;
      padding: 4px 13px;
      text-transform: uppercase;
      &:hover, &[data-state="active"] {
        background: $lightBlue;
      }
    }
  }
}
