/* ==========================================================================
_variables.scss
========================================================================== */

$siteMaxWidth: 960px;
$textColor: rgb(88, 88, 90);
$lightBlue: #5C8297;
$darkBlue: #2C4F6B;
