@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400italic);
@import "h5bp_normalize";
@import "helpers";
@import "mixins";
@import "variables";
@import "utility";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $textColor;
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial';
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

a,
a:hover,
a:active,
a:visited {
  color: $textColor;
}

.background {
  background-color: #7096A9;
  background-image: url(../images/BG%20Blank.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 0;
  @include tablet {
    //background-image: url(../images/BG%20Blank.png);
  }
  @include desktop {
    //background-image: url(../images/BG%20Blank.gif);
  }
}

.page-wrapper {
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.main-wrapper {
  position: relative;
  padding-top: 48px;
  @include desktop {
    margin-bottom: auto;
    padding-top: 0;
    margin-top: 50px;
  }
}

@import "nav";

@import "header";

.main-content {
  margin: 0 auto;
  max-width: $siteMaxWidth;
  position: relative;
  //  padding-top: 53px;
  width: 95%;
  @include tabletPlus {
    visibility: hidden;
  }
  @include desktop {
    padding-top: 0;
  }
}

.content-item-gutter {
  width: 2%;
}

.content-item-sizer { width: 49%; }
.content-item {
  background: rgba(255, 255, 255, 0.39);
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid rgba(226,226,226,0.29);
  box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.5);
  float: left;
  margin-bottom: 3%;
  width: 100%;
  padding: 15px;
  ul {
    overflow: hidden;
    padding-left: 20px;
  }
  & > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  @include tablet {
    margin-bottom: 2%;
    width: 49%;
    &.full {
      width: 100%;
    }
  }
  @include desktop {
    margin-bottom: 2%;
    width: 49%;
    &.full {
      width: 100%;
    }
  }
}

.content-item-date {
  border-right: 2px solid $lightBlue;
  color: $lightBlue;
  float: left;
  margin: 9px 9px 4px 0;
  padding: 4px 9px 4px 0;
  text-align: center;
  .nodate & {
    display: none;
  }
}

.content-item-date-day {
  font-size: 2.55rem;
  font-weight: 300;
  line-height: 2.35rem;
}

.content-item-date-moyr {
  font-size: 0.85rem;
  line-height: 0.85rem;
}

.content-item-title, .faq-question {
  font-size: 1.25rem;
  font-style: italic;
}

.timeslot {
  @include tabletPlus {
    margin-right: 15px;
    width: 228.75px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.content-item-image img {
  display: block;
  height: auto;
  width: 100%;
}

.footer-wrapper {
  background: $darkBlue;
  bottom: 0;
  -webkit-box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 15px 15px -7px rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.footer-content {
  margin: 0 auto;
  max-width: $siteMaxWidth;
  width: 95%;
}

.footer-item {
  color: #ddd;
  float: left;
  font-weight: 300;
  padding: 10px;
  width: 100%;
  .icon {
    bottom: 0px;
    color: #aaa;
    margin: 0px 2px;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      bottom: 3px;
      color: #ddd;
      margin-bottom: 3px;
    }
  }
  a {
    color: #ddd;
  }
  p {
    margin-bottom: 0;
  }
  @include mobile600 {
    width: 50%;
  }
  @include tabletPlus {
    width: 25%;
  }
}

.footer-item-full {
  height: auto;
  line-height: 1.9rem;
  width: 100%;
  p {
    margin: 0;
  }
  & .footer-item-title {
    display: none;
  }
}

.footer-item-title {
  border: 0px solid #999;
  border-bottom-width: 2px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 3px;
}

.icon-1-9x {
  font-size: 1.9rem !important;
}
